* {
  margin: 0;
  padding: 0; }

.calculator {
  width: 315px;
  margin: 50px auto;
  padding: 20px;
  border: 5px solid rgba(48, 113, 169, 0.5);
  overflow: hidden; }
  .calculator .screen {
    height: 100px;
    border: 1px solid rgba(48, 113, 169, 0.5);
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden; }
    .calculator .screen .calculation_area {
      border-bottom: 1px solid rgba(76, 175, 80, 0.5);
      height: 40px;
      line-height: 40px;
      overflow: hidden; }
    .calculator .screen .result_area {
      height: 60px;
      line-height: 60px;
      font-size: 36px;
      overflow: hidden; }
  .calculator .board {
    height: 340px;
    position: relative; }
    .calculator .board button {
      width: 45px;
      height: 45px;
      position: absolute; }
      .calculator .board button:first-child {
        top: 20px;
        left: 0px; }
      .calculator .board button:nth-child(2) {
        top: 20px;
        left: 55px; }
      .calculator .board button:nth-child(3) {
        top: 20px;
        left: 110px; }
      .calculator .board button:nth-child(4) {
        top: 20px;
        left: 165px; }
      .calculator .board button:nth-child(5) {
        top: 20px;
        left: 220px; }
      .calculator .board button:nth-child(6) {
        top: 75px;
        left: 0px; }
      .calculator .board button:nth-child(7) {
        top: 75px;
        left: 55px; }
      .calculator .board button:nth-child(8) {
        top: 75px;
        left: 110px; }
      .calculator .board button:nth-child(9) {
        top: 75px;
        left: 165px; }
      .calculator .board button:nth-child(10) {
        top: 75px;
        left: 220px; }
      .calculator .board button:nth-child(11) {
        top: 130px;
        left: 0px; }
      .calculator .board button:nth-child(12) {
        top: 130px;
        left: 55px; }
      .calculator .board button:nth-child(13) {
        top: 130px;
        left: 110px; }
      .calculator .board button:nth-child(14) {
        top: 130px;
        left: 165px; }
      .calculator .board button:nth-child(15) {
        top: 130px;
        left: 220px; }
      .calculator .board button:nth-child(16) {
        top: 185px;
        left: 0px; }
      .calculator .board button:nth-child(17) {
        top: 185px;
        left: 55px; }
      .calculator .board button:nth-child(18) {
        top: 185px;
        left: 110px; }
      .calculator .board button:nth-child(19) {
        top: 185px;
        left: 165px; }
      .calculator .board button:nth-child(20) {
        top: 185px;
        left: 220px; }
      .calculator .board button:nth-child(21) {
        top: 240px;
        left: 0px; }
      .calculator .board button:nth-child(22) {
        top: 240px;
        left: 55px; }
      .calculator .board button:nth-child(23) {
        top: 240px;
        left: 110px; }
      .calculator .board button:nth-child(24) {
        top: 240px;
        left: 165px; }
      .calculator .board button:nth-child(25) {
        top: 240px;
        left: 220px;
        height: 100px;
        font-size: 20px;
        font-weight: bold; }
      .calculator .board button:nth-child(26) {
        top: 295px;
        left: 0px;
        width: 100px; }
      .calculator .board button:nth-child(27) {
        font-size: 20px;
        font-weight: bold;
        top: 295px;
        left: 110px; }
      .calculator .board button:last-child {
        top: 295px;
        left: 165px; }

/*# sourceMappingURL=main.css.map */
